<mat-sidenav-container class="tablet:w-[60vh] mx-auto">
  <mat-sidenav
    #sidenav
    mode="push"
    opened="true"
    fixedInViewport="true"
    class="w-[66vw] tablet:w-[50vh] dark:bg-green_insted_dark bg-white rounded-r-3xl"
    ><section class="flex justify-start w-full h-fit p-1">
      <div>
        <button
          class="flex text-center flex-row items-center m-auto"
          [matMenuTriggerFor]="menu"
          expanded="false"
        >
          <span class="material-symbols-outlined text-3xl dark:text-white"
            >light_mode</span
          >
          <span class="material-symbols-outlined text-xl dark:text-white"
            >expand_more</span
          >
        </button>
        <mat-menu #menu="matMenu" class="m-auto">
          <li
            *ngFor="let tema of temas"
            class="first:rounded-t-3xl last:rounded-b-3xl gap-1"
          >
            <div
              (click)="mudarTema(tema.id)"
              class="flex p-1 flex-row items-center text-center justify-start m-1"
            >
              <span class="material-symbols-outlined text-xl p-1">{{
                tema.icon
              }}</span>
              <label>{{ tema.label }}</label>
            </div>
          </li>
        </mat-menu>
      </div>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet
    ><app-menu-bottom (menuClick)="sidenav.open()"></app-menu-bottom>
  </mat-sidenav-content>
</mat-sidenav-container>
