<mat-sidenav-container class="mx-auto">
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'push' : 'side'"
    [opened]="mobileQuery.matches ? 'false' : 'true'"
    fixedInViewport="false"
    class="w-[66vw] tablet:w-[33vw] dark:bg-green_insted_dark bg-white rounded-r-3xl border-none"
    ><section class="flex justify-start w-full h-fit p-1">
      <div>
        <button
          class="flex text-center flex-row items-center m-auto"
          [matMenuTriggerFor]="menu"
          expanded="true"
        >
          <span class="material-symbols-outlined text-3xl dark:text-white"
            >light_mode</span
          >
          <span class="material-symbols-outlined text-xl dark:text-white"
            >expand_more</span
          >
        </button>
        <mat-menu #menu="matMenu" class="m-auto dark:bg-green_insted">
          <li *ngFor="let tema of temas" class="">
            <div
              (click)="mudarTema(tema.id)"
              class="transition ease-in-out duration-200 flex p-1 flex-row items-center text-center justify-start cursor-pointer hover:bg-green_insted_transp_dark group"
            >
              <span
                class="material-symbols-outlined text-xl p-1 dark:text-white dark:group-hover:text-text_color"
                >{{ tema.icon }}</span
              >
              <label
                class="cursor-pointer dark:text-white dark:group-hover:text-text_color"
                >{{ tema.label }}</label
              >
            </div>
          </li>
        </mat-menu>
      </div>
    </section>
  </mat-sidenav>

  <mat-sidenav-content
    ><app-menu-bottom
      (menuClick)="sidenav.open()"
      [tamanhoTelaTablet]="mobileQuery.matches"
    ></app-menu-bottom>
    <router-outlet class="dark:bg-text_color bg-white"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
