<main
  class="flex justify-start flex-col items-center min-h-[100svh] bg-gradient-to-b from-green_insted_transp via-green_insted_transp to-white dark:from-green_insted_dark dark:via-green_insted_dark dark:to-green_insted pb-20"
>
  <section
    class="my-1 w-[98%] py-2 rounded-3xl shadow-md bg-white dark:bg-green_insted"
  >
    <div class="flex flex-row justify-around">
      <div mdbDropdown class="dropend relative w-4/12 m-1 rounded-full">
        <div
          class="bg-placeholder_img bg-cover bg-center rounded-full w-[15vh] h-[15vh]"
        >
          <img
            src="assets/images/perfil-padrao1.png"
            class="w-full rounded-full object-cover object-center h-full block"
            alt="teste"
            (load)="onImageLoad()"
            [ngClass]="
              !imageLoaded
                ? 'opacity-0'
                : 'opacity-100 ease-in-out duration-500'
            "
          />
        </div>
        <div
          mdbDropdownToggle
          expanded="false"
          class="material-symbols-outlined absolute w-4/12 bottom-0 left-0 text-white dark:text-text_color bg-green_insted dark:bg-white [aspect-ratio:_1_/_1] flex justify-center items-center text-3xl border-2 border-white dark:border-none cursor-pointer transition-all duration-300 ease-in-out"
          [ngClass]="
            status
              ? 'rounded-full transition-all duration-300 ease-in-out delay-0'
              : 'rounded-tr-xl rounded-b-[50%] rounded-tl-[50%]'
          "
        >
          edit
        </div>
        <ul mdbDropdownMenu class="dropdown-menu m-auto">
          <li class="dropdown-item cursor-pointer">Editar</li>
        </ul>
      </div>
      <div class="flex flex-col justify-center items-center">
        <div
          class="text-white bg-green_insted dark:bg-white text-sm text-center py-1 px-2 rounded-2xl w-fit"
        >
          <p class="font-semibold m-0 text-white dark:text-text_color">
            RA - {{ (user$ | async)?.NrRegister }}
          </p>
        </div>
        <h2
          *ngIf="(this.user$ | async)?.NmUser as NmUser"
          class="text-xl font-bold pr-2 text-center text-text_color"
        >
          {{ NmUser.split(" ")[0] }} {{ NmUser.split(" ").slice(-1) }}
        </h2>

        <p class="text-md">Cursando</p>
      </div>
      <div
        (click)="logout()"
        class="h-fit flex justify-center cursor-pointer hover:bg-green_insted active:bg-green_insted rounded-md"
      >
        <span
          class="material-symbols-outlined text-green_insted hover:text-white dark:text-text_color"
        >
          logout
        </span>
      </div>
    </div>
    <h3 class="text-center px-1 dark:text-white text-xl font-bold">
      Tec. em Análise e Desenvolvimento de Sistemas
    </h3>
  </section>
  <mat-accordion
    class="bg-white dark:bg-green_insted my-1 w-[98%] py-2 rounded-3xl shadow-md"
  >
    <mat-expansion-panel [expanded]="true" class="dark:bg-green_insted">
      <mat-expansion-panel-header class="flex-col h-auto">
        <h1 class="dark:text-white text-2xl font-bold py-1">
          Informações pessoais
        </h1>
      </mat-expansion-panel-header>
      <div
        class="flex flex-col p-2 text-md rounded-2xl leading-7 w-full justify-center animate-aparecer"
      >
        <div class="flex flex-col justify-start">
          <h3 class="text-xl px-1">Nome completo:</h3>
          <p
            class="flex justify-center items-center text-white font-semibold py-1 px-2 w-full rounded-2xl my-1 bg-green_insted dark:bg-white dark:text-text_color"
          >
            {{ (user$ | async)?.NmUser }}
          </p>
        </div>
        <div class="flex flex-row justify-start items-center text-center">
          <h3 class="text-xl px-1 whitespace-nowrap">E-mail:</h3>
          <p
            class="flex justify-center items-center font-semibold text-white py-1 px-2 w-full rounded-2xl my-1 bg-green_insted dark:bg-white dark:text-text_color"
          >
            {{ (user$ | async)?.NmEmail }}
          </p>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl px-1">Telefones:</h3>
          <div class="flex flex-row justify-around text-center gap-1">
            <div
              class="flex justify-center items-center font-semibold py-1 px-2 rounded-2xl my-1 w-full bg-green_insted dark:bg-white"
            >
              <p class="text-white m-0 dark:text-text_color">
                {{ (user$ | async)?.NmPhone1! | phone }}
              </p>
            </div>
            <div
              class="flex justify-center items-center font-semibold py-1 px-2 rounded-2xl my-1 w-full bg-green_insted dark:bg-white"
            >
              <p class="text-white m-0 dark:text-text_color">
                {{ (user$ | async)?.NmPhone2! | phone }}
              </p>
            </div>
          </div>
        </div>
        <mat-expansion-panel class="dark:bg-green_insted">
          <mat-expansion-panel-header
            class="text-text_color flex-col header_filho h-auto"
          ></mat-expansion-panel-header>

          <div class="flex flex-row justify-start items-center">
            <h3 class="text-xl px-1 whitespace-nowrap">CPF:</h3>
            <p
              mask="999.999.99.9"
              class="flex justify-center items-center font-semibold text-white py-1 px-2 w-full rounded-2xl my-1 bg-green_insted dark:bg-white dark:text-text_color"
            >
              {{ (user$ | async)?.NrCpf! | cpfcnpj }}
            </p>
          </div>
          <div class="flex flex-row justify-start items-center">
            <h3 class="text-xl px-1 whitespace-nowrap">Data de nascimento:</h3>
            <p
              class="flex justify-center items-center font-semibold text-white py-1 px-2 w-full rounded-2xl my-1 bg-green_insted dark:bg-white dark:text-text_color"
            >
              {{ (user$ | async)?.DtBirthdate | date : "dd/MM/yyyy" }}
            </p>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion
    class="bg-white dark:bg-green_insted my-1 w-[98%] py-2 rounded-3xl shadow-md"
  >
    <mat-expansion-panel class="dark:bg-green_insted">
      <mat-expansion-panel-header class="flex-col h-auto">
        <h1 class="dark:text-white text-2xl font-bold py-1">Alterar senha</h1>
      </mat-expansion-panel-header>
      <form
        class="flex justify-between items-center gap-3 flex-col box-content py-4"
      >
        <div class="flex flex-col w-full justify-center items-center gap-3">
          <div class="flex flex-col justify-center items-center w-11/12">
            <input
              formControlName="ra"
              class="dark:bg-text_color"
              placeholder="Insira sua senha atual"
              type="password"
            />
          </div>
          <div class="flex flex-col justify-center items-center w-11/12">
            <input
              class="dark:bg-text_color"
              formControlName="ra"
              placeholder="Insira nova senha"
              type="password"
            />
          </div>
          <div
            class="flex flex-col justify-center items-center relative w-11/12"
          >
            <div class="flex flex-col w-full justify-center items-center">
              <input
                id="password"
                formControlName="password"
                type="password"
                class="dark:bg-text_color"
                autocomplete="off"
                placeholder="Confirmar nova senha"
              />
              <svg
                id="icon"
                class="bg-opened_eye absolute top-50% right-[4%] bg-contain bg-center bg-no-repeat w-7 h-10 cursor-pointer"
              ></svg>
            </div>
          </div>
        </div>
        <div class="flex flex-grow gap-1 w-full justify-around px-2">
          <button
            class="okay_button w-1/2 dark:bg-white dark:text-green_insted"
            type="submit"
          >
            Alterar
          </button>
          <button class="cancelar w-1/2">Cancelar</button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</main>

