<main
  class="h-full bg-green_insted_transp dark:bg-green_insted_transp_dark flex flex-col justify-center items-center gap-y-4"
  ><div
    class="bg-insted_background bg-cover [background-position:bottom_-120px_left_-228px] tablet:bg-center bg-no-repeat absolute w-full z-[-1] h-full"
  ></div>
  <div
    class="w-11/12 h-1/6 bg-insted_logo bg-contain bg-no-repeat bg-center"
  ></div>

  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    id="formularioPadrao"
    class="fundo_vidro laptop:min-h-[40vh] max-h-[15vh] laptop:min-w-[30vw] laptop:max-w-[25vw] "
  >
  <div class="flex flex-col flex-1 w-full justify-start items-center">
    <h1 class="text-center font-bold">Alterar senha</h1>
    <div class="flex flex-col w-full justify-center h-2/3 items-center gap-8">
      <div class="flex flex-col justify-center items-center w-11/12">
        <input
          placeholder="Nova senha"
          formControlName="senhaNova"
          type="password"
        />
        <app-message
          erro="true"
          *ngIf="resetPasswordForm.get('senhaNova')?.errors?.['required'] && resetPasswordForm.get('senhaNova')?.touched"
          message="Necessário preencher nova senha."
        />
        <app-message
          erro="true"
          *ngIf="resetPasswordForm.get('senhaNova')?.errors?.['minlength'] &&
        resetPasswordForm.get('senhaNova')?.touched &&
        resetPasswordForm.get('senhaNova')?.value"
          message="Senha de ao menos 8 caracteres."
        />
        <app-message
          erro="true"
          *ngIf="resetPasswordForm.get('senhaNova')?.errors?.['maxlength'] && resetPasswordForm.get('senhaNova')?.touched &&
        resetPasswordForm.get('senhaNova')?.value"
          message="Senha de no máximo 16 caracteres."
        />
        <app-message
          erro="true"
          *ngIf="!resetPasswordForm.get('senhaNova')?.errors?.['minlength']
           && resetPasswordForm.get('senhaNova')?.errors?.['pattern']
           && resetPasswordForm.get('senhaNova')?.touched"
          message="Não pode conter espaços em branco."
        />
      </div>
      <div class="flex flex-col justify-center items-center w-11/12">
        <input
          placeholder="Confirmar senha"
          formControlName="confirmaSenhaNova"
          type="password"
        />
        <app-message
          erro="true"
          *ngIf="
            resetPasswordForm.hasError('matchInputs') &&
            resetPasswordForm.get('senhaNova')?.value &&
            resetPasswordForm.get('confirmaSenhaNova')?.touched &&
            resetPasswordForm.get('confirmaSenhaNova')?.value
          "
          message="As senhas não coincidem."
        />
      </div>
      <button type="submit" class="w-1/2">Alterar</button>
      </div>
    </div>
  </form>
</main>
