<main
  class="h-[100svh] bg-green_insted_transp flex flex-col justify-center items-center gap-y-4 z-50"
>
  <div
    class="bg-insted_background bg-cover [background-position:bottom_-120px_left_-228px] bg-no-repeat absolute w-full z-[-1] h-full"
  ></div>
  <div
    class="w-[98%] h-1/6 mt-12 bg-insted_logo bg-contain bg-no-repeat bg-center"
  ></div>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="flex-start items-center w-10/12 flex-col box-content shadow-2xl shadow-white_transp bg-white_transp h-[60vh] rounded-3xl border-white border-[2px]"
  >
    <h1 class="text-center font-bold">Alterar senha</h1>
    <div class="flex flex-col w-full justify-center h-2/3 items-center gap-8">
      <div class="flex flex-col justify-center items-center w-11/12">
        <input
          placeholder="Nova senha"
          formControlName="senhaNova"
          type="password"
        />
        <app-message
          *ngIf="resetPasswordForm.get('senhaNova')?.errors?.['required'] && resetPasswordForm.get('senhaNova')?.touched"
          message="Necessário preencher nova senha."
        />
        <app-message
          *ngIf="resetPasswordForm.get('senhaNova')?.errors?.['minlength'] &&
        resetPasswordForm.get('senhaNova')?.touched &&
        resetPasswordForm.get('senhaNova')?.value"
          message="Senha de ao menos 8 caracteres."
        />
        <app-message
          *ngIf="resetPasswordForm.get('senhaNova')?.errors?.['maxlength'] && resetPasswordForm.get('senhaNova')?.touched &&
        resetPasswordForm.get('senhaNova')?.value"
          message="Senha de no máximo 16 caracteres."
        />
      </div>
      <div class="flex flex-col justify-center items-center w-11/12">
        <input
          placeholder="Confirmar senha"
          formControlName="confirmaSenhaNova"
          type="password"
        />
        <app-message
          *ngIf="
            resetPasswordForm.hasError('matchInputs') &&
            resetPasswordForm.get('senhaNova')?.value &&
            resetPasswordForm.get('confirmaSenhaNova')?.touched &&
            resetPasswordForm.get('confirmaSenhaNova')?.value
          "
          message="As senhas não coincidem."
        />
      </div>
      <button type="submit" class="w-1/2">Alterar</button>
    </div>
  </form>
</main>
