<div *ngIf="content && content.length > 0" class="carousel-container">
  <ng-container *ngFor="let item of content; let i = index">
    <ng-container *ngIf="item.imagens">
      <img
        *ngFor="let image of [item.imagens]; let j = index"
        [src]="image.imgSrc"
        [alt]="image.imgAlt"
        [ngClass]="{ 'image-active': selectedIndex === i }"
      />
    </ng-container>
    <ng-container *ngIf="!item.imagens">
      <!-- Handle other types of content here -->
    </ng-container>
  </ng-container>
  <div *ngIf="indicators" class="carousel-indicator-container">
    <span
      *ngFor="let dot of content; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImage(i)"
    ></span>
  </div>
</div>
