.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
}
.carousel-container img {
  display: none;
  border-radius: 1rem;
}
.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: fit-content;
}

.carousel-indicator-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -15%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 4rem;
}
.dot {
  cursor: pointer;
  width: 1rem;
  aspect-ratio: 1.618/1;
  margin: 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  transition: opacity, width 0.5s ease-in-out;
  opacity: 0.5;
  background-color: rgb(6, 59, 61);
  box-sizing: content-box;
}
.active,
.dot:hover {
  opacity: 1;
  width: 1.5rem;
}
