<body
  class="flex flex-col justify-start items-center min-h-[100svh] p-2 bg-gradient-to-b from-green_insted_transp via-green_insted_transp to-white dark:from-green_insted_dark dark:via-green_insted_dark dark:to-green_insted"
>
  <div class="w-full">
    <h1 class="text-center dark:text-white font-bold p-2">
      Desenvolvimento colaborativo
    </h1>
    <div
      class="flex flex-col gap-2 bg-green_insted my-1 py-2 laptop:mx-auto w-full rounded-3xl shadow-md laptop:max-w-[60vw] max-h-[calc(100vh-200px)] min-h-[calc(100vh-200px)] laptop:min-h-[100svh] laptop:max-h-max overflow-y-auto"
    >
      <mat-accordion class="w-full rounded-3xl px-1">
        <mat-expansion-panel [expanded]="true" class="bg-green_insted">
          <mat-expansion-panel-header
            class="flex-row flex justify-between h-fit text-center items-center"
          >
            <h1 class="text-white text-2xl font-bold py-1">Geral</h1>
          </mat-expansion-panel-header>
          <div class="flex flex-col flex-nowrap gap-1 text-center items-center">
            <div
              class="flex flex-row gap-1 p-2 w-full justify-between text-center items-center bg-green_insted_dark rounded-t-3xl rounded-b-md"
            >
              <div class="flex flex-row gap-2 text-center items-center">
                <span class="material-symbols-outlined text-white text-4xl"
                  >description</span
                >
                <div class="flex flex-col w-full gap-1">
                  <h3 class="text-sm text-white_transp">Tipo arquivo</h3>

                  <a href="area/materia/atividade"
                    ><h2 class="text-base dark:text-white font-bold">
                      Título do arquivo
                    </h2></a
                  >
                </div>
              </div>
              <div
                class="flex flex-row flex-nowrap text-center items-center justify-end p-2 text-white"
              >
                <span class="material-symbols-outlined text-3xl">circle</span>
                <span class="material-symbols-outlined text-3xl"
                  >check_circle</span
                >
              </div>
            </div>

            <div
              class="flex flex-col bg-white rounded-t-md rounded-b-3xl p-2 max-h-[50vh] min-h-[250px]"
            >
              <p class="">
                PROVAS AV 1 – 25/04/2024 REVISÃO DE AV 1 – 02/05/2024 AV 2 –
                20/06/2024 REVISÃO DE AV 2 – 27/06/2024 EXERCÍCIO DE COMPRESSÃO
                EX.COM 01 – 07/03/2024 EX.COM 02 – 28/03/2024 EX.COM 03 –
                11/04/2024 EX.COM 04 – 16/05/2024 EX.COM 05 – 06/06/2024
              </p>
            </div>
          </div>
        </mat-expansion-panel> </mat-accordion
      ><mat-accordion class="w-full rounded-3xl px-1">
        <mat-expansion-panel [expanded]="true" class="bg-green_insted">
          <mat-expansion-panel-header
            class="flex-row flex justify-between h-fit text-center items-center"
          >
            <h1 class="text-white text-2xl font-bold py-1">Geral</h1>
          </mat-expansion-panel-header>
          <div class="flex flex-col flex-nowrap gap-1 text-center items-center">
            <div
              class="flex flex-row gap-1 p-2 w-full justify-between text-center items-center bg-green_insted_dark rounded-t-3xl rounded-b-md"
            >
              <div class="flex flex-row gap-2 text-center items-center">
                <span class="material-symbols-outlined text-white text-4xl"
                  >description</span
                >
                <div class="flex flex-col w-full gap-1">
                  <h3 class="text-sm text-white_transp">Tipo arquivo</h3>
                  <h2 class="text-base dark:text-white font-bold">
                    Título do arquivo
                  </h2>
                </div>
              </div>
              <div
                class="flex flex-row flex-nowrap text-center items-center justify-end p-2 text-white"
              >
                <span class="material-symbols-outlined text-3xl">circle</span>
                <span class="material-symbols-outlined text-3xl"
                  >check_circle</span
                >
              </div>
            </div>

            <div
              class="flex flex-col bg-white rounded-t-md rounded-b-3xl p-2 max-h-[50vh] min-h-[250px]"
            >
              <p class="">
                PROVAS AV 1 – 25/04/2024 REVISÃO DE AV 1 – 02/05/2024 AV 2 –
                20/06/2024 REVISÃO DE AV 2 – 27/06/2024 EXERCÍCIO DE COMPRESSÃO
                EX.COM 01 – 07/03/2024 EX.COM 02 – 28/03/2024 EX.COM 03 –
                11/04/2024 EX.COM 04 – 16/05/2024 EX.COM 05 – 06/06/2024
              </p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</body>
