<body
  class="flex flex-col justify-start items-center min-h-[100svh] p-2 bg-gradient-to-b from-green_insted_transp via-green_insted_transp to-white dark:from-green_insted_dark dark:via-green_insted_dark dark:to-green_insted"
>
  <div class="w-full">
    <h1 class="text-center dark:text-white font-bold p-2">
      Direitos Humanos, Ética e Consciência Socioambiental
    </h1>
    <div
      class="flex flex-col gap-2 bg-green_insted my-1 py-2 laptop:mx-auto w-full rounded-3xl shadow-md laptop:max-w-[60vw] max-h-[calc(100vh-200px)] min-h-[calc(100vh-200px)] laptop:min-h-[100svh] laptop:max-h-max overflow-y-auto"
    >
      <mat-accordion class="w-full rounded-3xl px-1">
        <mat-expansion-panel [expanded]="true" class="bg-green_insted">
          <mat-expansion-panel-header
            class="flex-row flex justify-between h-fit text-center items-center"
          >
            <h1 class="text-white text-2xl font-bold py-1">Boas vindas</h1>
          </mat-expansion-panel-header>
          <div class="flex flex-col flex-nowrap gap-1 text-center items-center">
            <div
              class="flex flex-col bg-white rounded-t-md rounded-b-3xl p-2 max-h-[50vh] min-h-[250px]"
            >
              <p class="text-justify p-1">
                Prezados(as) acadêmicos(as), recebam todos o nosso cordial
                cumprimento! É com imensa satisfação que acolhemos todos(as)
                para a nossa disciplina deste semestre letivo. Nosso EAD conecta
                para aproximar e transformar. Vamos dar um PLAY nesta nossa nova
                disciplina? Lembrem-se: as unidades da SAGAH devem ter todos os
                seus exercícios realizados até o desfecho do mês de março
                anteriormente à prova on-line via AVA. Nossa prova avaliativa
                (AV1) será via portal e terá 10 questões e ficará disponível de
                __/__ a __/__ (pelo prazo estendido, não haverá segunda chamada
                da avaliação on-line). A avaliação presencial (AV2) ao final do
                semestre será no dia __/__ (1ª chamada). A aplicação da segunda
                chamada presencial das disciplinas EAD será __ e __/__ (somente
                mediante à justificativa, atestado, laudo médio ou serviços de
                segurança, municipal, estadual e federal bem como as forças
                armadas: marinha, exército e aeronáutica. Convocações judiciais
                e afins). A média final será composta da seguinte maneira: Média
                final das ATIVIDADES SAGAH + Prova on-line + Prova Presencial Os
                3 campos divididos por 3 deverão compor a média igual ou
                superior a 7,0. ATENÇÃO! Todas as atividades disponibilizadas
                são obrigatórias e compõe a nota final. Seja você muito
                bem-vindo(a) à nossa disciplina e à nossa Faculdade sempre.
                Abraço fraterno.
              </p>
            </div>
          </div>
        </mat-expansion-panel> </mat-accordion
      ><mat-accordion class="w-full rounded-3xl px-1">
        <mat-expansion-panel [expanded]="true" class="bg-green_insted">
          <mat-expansion-panel-header
            class="flex-row flex justify-between h-fit text-center items-center"
          >
            <h1 class="text-white text-2xl font-bold py-1">Geral</h1>
          </mat-expansion-panel-header>
          <div class="flex flex-col flex-nowrap gap-1 text-center items-center">
            <div
              class="flex flex-row gap-1 p-2 w-full justify-between text-center items-center bg-green_insted_dark rounded-t-3xl rounded-b-md"
            >
              <div class="flex flex-row gap-2 text-center items-center">
                <span class="material-symbols-outlined text-white text-4xl"
                  >description</span
                >
                <div class="flex flex-col w-full gap-1">
                  <h3 class="text-sm text-white_transp">Página</h3>
                  <a href="area/materia/atividade"
                    ><h2 class="text-base dark:text-white font-bold">
                      Datas importantes
                    </h2></a
                  >
                </div>
              </div>
              <div
                class="flex flex-row flex-nowrap text-center items-center justify-end p-2 text-white"
              >
                <span class="material-symbols-outlined text-3xl">circle</span>
                <span class="material-symbols-outlined text-3xl"
                  >check_circle</span
                >
              </div>
            </div>

            <div
              class="flex flex-col bg-white rounded-t-md rounded-b-3xl p-2 max-h-[50vh] min-h-[250px]"
            >
              <p class="">
                PROVAS AV 1 – 25/04/2024 REVISÃO DE AV 1 – 02/05/2024 AV 2 –
                20/06/2024 REVISÃO DE AV 2 – 27/06/2024 EXERCÍCIO DE COMPRESSÃO
                EX.COM 01 – 07/03/2024 EX.COM 02 – 28/03/2024 EX.COM 03 –
                11/04/2024 EX.COM 04 – 16/05/2024 EX.COM 05 – 06/06/2024
              </p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</body>
