<section
  class="bg-gradient-to-t from-green_insted_transp via-white to-white h-[100svh]"
>
  <!--// Avisos-->
  <swiper-container
    class=""
    slides-per-view="1.05"
    speed="500"
    loop="true"
    pagination="true"
    auto-play="true"
  >
    <swiper-slide class="p-2"
      ><img class="rounded-xl" src="assets/images/painel-infos.png"
    /></swiper-slide>
    <swiper-slide class="p-2"
      ><img class="rounded-xl" src="assets/images/painel-infos.png"
    /></swiper-slide>
    div.swiper-
  </swiper-container>
  <!--// Ícones-->
  <mat-grid-list cols="4" rows="2" gutterSize="8" rowHeight="3:2" class="m-1">
    <mat-grid-tile *ngFor="let icon of icons" class="">
      <div class="flex flex-col w-full h-full">
        <div
          class="h-2/3 w-5/6 items-center bg-green_insted rounded-2xl m-auto"
        >
          <img
            src="{{ icon.src }}"
            alt="{{ icon.alt }}"
            class="bg-contain p-1 h-full m-auto"
          />
        </div>
        <div>
          <p class="h-1/3 text-center text-sm p-0 m-0">{{ icon.rotulo }}</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!--// Matérias-->
  <section class="bg-green_insted_transp rounded-xl flex flex-col p-2 m-2">
    <h2 class="text-white font-bold">Matérias</h2>
    <swiper-container
      class="bg-white p-1 mx-0 rounded-xl"
      pagination="true"
      navigation="true"
    >
      <swiper-slide
        class="flex flex-row justify-start text-center items-center py-2 px-10 m-auto"
      >
        <img class="w-1/4 px-2" src="assets/images/education.png" />
        <div class="w-full text-center">
          <h3 class="m-auto">Algebra Linear</h3>
        </div>
      </swiper-slide>
      <swiper-slide
        class="flex flex-row justify-start text-center items-center py-2 px-10 m-auto"
      >
        <img class="w-1/4 px-2" src="assets/images/education.png" />
        <div class="w-full text-center">
          <h3 class="m-auto">Projeto Integrador III</h3>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>
  <!--// Atividades-->
  <section class="bg-green_insted_transp rounded-xl flex flex-col m-2 p-2">
    <div>
      <h2 class="text-white font-bold">Atividades</h2>
    </div>
    <swiper-container class="w-full rounded-xl text-center" pagination="true">
      <swiper-slide class="bg-white flex flex-col rounded-xl m-auto">
        <div
          class="flex flex-row justify-between font-bold bg-green_insted text-center rounded-xl p-2"
        >
          <p class="m-0 text-white">Quinta-feira, 18/08</p>
          <p class="m-0 text-white">20:30</p>
        </div>
        <div class="px-2 py-1">
          <h2 class="text-xl">Exercício de compreensão</h2>
          <h3 class="text-lg">Programação Orientada à objetos</h3>
        </div>
      </swiper-slide>
      <swiper-slide class="bg-white flex flex-col rounded-xl m-auto">
        <div class="text-center">
          <div
            class="flex flex-row justify-between font-bold bg-green_insted text-center rounded-xl p-2"
          >
            <p class="m-0 text-white">Quinta-feira, 18/08</p>
            <p class="m-0 text-white">20:30</p>
          </div>
          <div class="px-2 py-1">
            <h2 class="text-xl">Exercício de compreensão</h2>
            <h3 class="text-lg">Programação Orientada à objetos</h3>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>
  <!--// Menu-->
  <app-menu-bottom></app-menu-bottom>
</section>
