<section class="mat-mdc-dialog-surface mdc-dialog__surface rounded-3xl">
  <div
    class="mat-dialog-container max-h-fit w-[75vw] rounded-3xl bg-gradient-to-t from-green_insted_transp via-green_insted_transp to-white"
  >
    <div class="mat-dialog-content h-full w-full flex flex-col justify-start">
      <div class="flex flex-col text-center justify-center w-full p-1">
        <h2 class="mat-dialog-title-text text-text_color m-auto font-semibold">
          Quarta-feira
        </h2>
        <p class="m-0">14/06</p>
      </div>

      <div
        class="mat-dialog-description h-full flex flex-col justify-between py-3 gap-2"
      >
        <div
          class="rounded-3xl bg-white flex flex-col justify-center shadow-md p-1 m-2"
        >
          <div>
            <h3 class="p-2 m-0 text-2xl font-semibold">Álgebra Linear</h3>
            <p class="px-2 m-0 text-lg">Claudiano Alberto Roberto</p>
          </div>

          <div class="flex flex-row justify-between p-2">
            <p class="text-2xl m-0">Sala 54</p>
            <p class="text-2xl m-0 font-semibold text-green_insted">19:00</p>
          </div>
        </div>
        <div
          class="rounded-3xl bg-white flex flex-col justify-center shadow-md p-1 m-2"
        >
          <div>
            <h3 class="p-2 m-0 text-2xl font-semibold">Álgebra Linear</h3>
            <p class="px-2 m-0 text-lg">Claudiano Alberto Roberto</p>
          </div>

          <div class="flex flex-row justify-between p-2">
            <p class="text-2xl m-0">Sala 54</p>
            <p class="text-2xl m-0 font-semibold text-green_insted">19:50</p>
          </div>
        </div>
        <div
          class="rounded-3xl bg-white flex flex-col justify-center shadow-md p-1 m-2"
        >
          <div>
            <h3 class="p-2 m-0 text-2xl font-semibold">Álgebra Linear</h3>
            <p class="px-2 m-0 text-lg">Claudiano Alberto Roberto</p>
          </div>

          <div class="flex flex-row justify-between p-2">
            <p class="text-2xl m-0">Sala 54</p>
            <p class="text-2xl m-0 font-semibold text-green_insted">20:50</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
