<form
  [formGroup]="loginForm"
  (submit)="Login()"
  id="formularioPadrao"
  class="laptop:min-h-[40vh] laptop:max-h-[85vh] laptop:min-w-[30vw] laptop:max-w-[25vw] fundo_vidro"
>
  <h1 class="font-bold">Área do aluno</h1>

  <div
    class="flex flex-col flex-1 w-full justify-between items-center gap-2 relative"
  >
    <div class="flex flex-col justify-center items-center w-11/12">
      <input formControlName="ra" placeholder="Insira seu RA" type="text" />
      <app-message
        erro="true"
        *ngIf="loginForm.get('ra')?.errors?.['required']
      && loginForm.get('ra')?.touched"
        message="O RA é obrigatório."
      />
      <app-message
        erro="true"
        *ngIf="loginForm.get('ra')?.errors?.['minlength']
      && loginForm.get('ra')?.touched"
        message="O RA deve ter no mínimo 10 números."
      />
    </div>
    <div class="flex flex-col justify-center items-center relative w-full">
      <div class="flex flex-col w-11/12 justify-center items-center">
        <input
          id="password"
          formControlName="password"
          type="{{ passwordIsVisible ? 'text' : 'password' }}"
          autocomplete="on"
          placeholder="Insira sua senha"
        />
        <svg
          id="icon"
          (click)="ToggleIcon()"
          [ngClass]="passwordIsVisible ? 'bg-opened_eye' : 'bg-closed_eye'"
          class="absolute top-50% right-[8%] bg-contain bg-center bg-no-repeat w-8 h-10 cursor-pointer"
        ></svg>
      </div>
      <app-message
        erro="true"
        *ngIf="loginForm.get('password')?.errors?.['required']
      && loginForm.get('password')?.touched && loginForm.get('ra')?.value"
        message="A senha é obrigatória."
      />
    </div>

    <button class="w-1/2" type="submit" (onclick)="Login()">Entrar</button>
    <app-message
      erro="true"
      class="w-2/3"
      *ngIf="errorMessage != null"
      message="{{ errorMessage }}"
    />
    <div class="flex justify-evenly w-full">
      <a
        [routerLink]="['/login/recuperarsenha']"
        class="dark:text-white_transp text-green_insted font-semibold w-2/5"
      >
        Recuperar senha
      </a>
      <p class="text-green_insted font-bold w-1/5">|</p>
      <a
        [routerLink]="['/login/professor']"
        class="dark:text-white_transp text-green_insted font-semibold w-2/5"
      >
        Sou professor
      </a>
    </div>
  </div>
</form>
