<form
  [formGroup]="loginForm"
  (submit)="Login()"
  id="loginForm"
  class="laptop:min-h-[55vh] laptop:max-h-[85vh] laptop:min-w-[30vw] laptop:max-w-[33vw] shadow-2xl shadow-white_transp bg-white_transp border-white dark:shadow-green_insted_dark dark:bg-green_insted_dark dark:border-hidden"
>
  <div class="flex flex-col flex-1 w-full justify-between items-center gap-6">
    <div class="flex flex-col justify-center items-center w-11/12">
      <input formControlName="ra" placeholder="Insira seu RA" type="text" />
      <app-message
        erro="true"
        *ngIf="loginForm.get('ra')?.errors?.['required']
      && loginForm.get('ra')?.touched"
        message="O RA é obrigatório."
      />
      <app-message
        erro="true"
        *ngIf="loginForm.get('ra')?.errors?.['minlength']
      && loginForm.get('ra')?.touched"
        message="O RA deve ter no mínimo 10 números."
      />
    </div>
    <div class="flex flex-col justify-center items-center relative w-full">
      <div class="flex flex-col w-11/12 justify-center items-center">
        <input
          id="password"
          formControlName="password"
          type="{{ passwordIsVisible ? 'text' : 'password' }}"
          autocomplete="on"
          placeholder="Insira sua senha"
        />
        <svg
          id="icon"
          (click)="ToggleIcon()"
          [ngClass]="passwordIsVisible ? 'bg-opened_eye' : 'bg-closed_eye'"
          class="absolute top-50% right-[10%] bg-contain bg-center bg-no-repeat w-10 h-12 cursor-pointer"
        ></svg>
      </div>
      <app-message
        erro="true"
        *ngIf="loginForm.get('password')?.errors?.['required']
      && loginForm.get('password')?.touched && loginForm.get('ra')?.value"
        message="A senha é obrigatória."
      />
    </div>
    <div class="flex flex-row justify-center items-center gap-2">
      <input
        title="manterConectadoCheckBox"
        type="checkbox"
        id="checkbox1"
        class="p-1 hover:cursor-pointer relative appearance-none w-[1.5rem] h-[1.5rem] box-content border-white border-[2px] rounded-full focus:outline-none aspect-square bg-green_insted checked:bg-white_transp checked:border-opacity-0 checked:bg-no-repeat checked:transition-all transition ease-linear delay-0 checked:bg-center checked:bg-contain checked:bg-checkmark"
      />
      <label
        for="checkbox1"
        class="dark:text-white text-green_insted font-semibold"
        >Manter conectado</label
      >
    </div></div>
    <div class="flex justify-center flex-col items-center">
      <re-captcha
        id="recaptcha"
        formControlName="recaptcha"
        [theme]="(this.temaService.tema$ | async) === 'dark' ? 'dark' : 'light'"
      ></re-captcha>
      <app-message
        *ngIf="
          !loginForm.get('recaptcha')?.value &&
          (loginForm.get('recaptcha')?.touched ||
            loginForm.get('recaptcha')?.dirty)
        "
        erro="true"
        message="Necessário validar o captcha."
      />
    </div>
  <button class="w-1/2" type="submit">Entrar</button>
  <app-message
    erro="true"
    *ngIf="errorMessage != null"
    message="{{ errorMessage }}"
  />
  <a
    [routerLink]="['/login/recuperarsenha']"
    class="dark:text-white_transp text-green_insted font-semibold"
  >
    Esqueci minha senha
  </a>
</div>
</form>
