<form
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="RecoverPassword()"
  class="flex justify-between items-center w-10/12 flex-col box-content shadow-2xl shadow-white_transp bg-white_transp h-[66svh] rounded-3xl border-white border-[2px]"
>
  <div class="flex items-center text-center flex-col">
    <h1 class="text-green_insted font-bold my-1">Recuperação de senha</h1>
  </div>
  <div class="flex flex-col w-full justify-center h-2/3 items-center gap-14">
    <div class="flex flex-col justify-center items-center w-11/12">
      <input
        #recuperaSenhaInput
        formControlName="recuperaSenhaInput"
        type="text"
        (keyup)="this.recuperaTipoCampo()"
        placeholder="RA, E-mail ou CPF"
      />
      <app-message
        erro="true"
        *ngIf="(tipoCampo$ | async) === 'ra'"
        message="Recuperar senha pelo RA"
      />
      <app-message
        erro="true"
        *ngIf="(tipoCampo$ | async) === 'email'"
        message="Recuperar senha pelo e-mail"
      />
      <app-message
        erro="true"
        *ngIf="(tipoCampo$ | async) === 'cpf'"
        message="Recuperar senha pelo CPF"
      />
      <app-message
        erro="true"
        *ngIf="
          forgotPasswordForm.get('recuperaSenhaInput')?.errors?.['validatecpf']
        "
        message="CPF inválido"
      />
    </div>
    <div class="flex justify-center flex-col items-center">
      <re-captcha id="recaptcha" formControlName="recaptcha"></re-captcha>
      <app-message
        erro="true"
        *ngIf="
          !forgotPasswordForm.get('recaptcha')?.value &&
          (forgotPasswordForm.get('recaptcha')?.touched ||
            forgotPasswordForm.get('recaptcha')?.dirty)
        "
        message="Necessário validar o captcha."
      />
    </div>
  </div>
  <button
    class="bg-green_insted overflow-hidden border-white border-[2px] w-1/2 rounded-3xl py-[0.5em] text-2xl font-semibold text-white"
  >
    Recuperar
  </button>
  <a
    [routerLink]="['/login']"
    class="my-2 text-green_insted font-semibold underline underline-offset-1"
  >
    Voltar ao login
  </a>
</form>
