<form
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="RecoverPassword()"
  class="flex justify-between items-center w-10/12 tablet:w-[50vh] tablet:h-[50vh] flex-col box-content shadow-2xl shadow-white_transp bg-white_transp border-white dark:shadow-green_insted_dark dark:bg-green_insted_dark dark:border-none h-[60svh] rounded-3xl border-[2px]"
>
  <div class="flex items-center text-center flex-col">
    <h1 class="text-green_insted dark:text-white p-1 font-bold my-1">
      Recuperar senha
    </h1>
  </div>
  <div class="flex flex-col w-full justify-center h-2/3 items-center gap-14">
    <div class="flex flex-col justify-center items-center w-11/12">
      <input
        #recuperaSenhaInput
        formControlName="recuperaSenhaInput"
        type="text"
        (keyup)="this.recuperaTipoCampo()"
        placeholder="RA, E-mail ou CPF"
      />
      <app-message
        erro="true"
        *ngIf="(tipoCampo$ | async) === 'ra'"
        message="Recuperar senha pelo RA"
      />
      <app-message
        erro="true"
        *ngIf="(tipoCampo$ | async) === 'email'"
        message="Recuperar senha pelo e-mail"
      />
      <app-message
        erro="true"
        *ngIf="(tipoCampo$ | async) === 'cpf'"
        message="Recuperar senha pelo CPF"
      />
      <app-message
        erro="true"
        *ngIf="
          forgotPasswordForm.get('recuperaSenhaInput')?.errors?.['validatecpf']
        "
        message="CPF inválido"
      />
    </div>
    <div class="flex justify-center flex-col items-center">
      <re-captcha
        id="recaptcha"
        formControlName="recaptcha"
        [theme]="this.loginFormService.tema"
      ></re-captcha>
      <app-message
        erro="true"
        *ngIf="
          !forgotPasswordForm.get('recaptcha')?.value &&
          (forgotPasswordForm.get('recaptcha')?.touched ||
            forgotPasswordForm.get('recaptcha')?.dirty)
        "
        message="Necessário validar o captcha."
      />
    </div>
  </div>
  <button type="submit" class="w-1/2">Recuperar</button>
  <a
    [routerLink]="['/login']"
    class="my-2 text-green_insted dark:text-white font-semibold underline underline-offset-1"
  >
    Voltar ao login
  </a>
</form>
