<form
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="RecoverPassword()"
  id="loginForm"
  class="laptop:min-h-[40vh] laptop:max-h-[85vh] laptop:min-w-[30vw] laptop:max-w-[25vw] shadow-2xl shadow-white_transp bg-white_transp border-white dark:shadow-green_insted_dark dark:bg-green_insted_dark dark:border-hidden"
  >
  <div class="flex flex-col flex-1 w-full justify-between items-center gap-6">
    <h1 class="text-green_insted dark:text-white p-1 font-bold my-1">
      Recuperar senha
    </h1>
    <div class="flex flex-col justify-center items-center w-11/12">
      <input
        #recuperaSenhaInput
        formControlName="recuperaSenhaInput"
        type="text"
        (keyup)="this.recuperaTipoCampo()"
        placeholder="RA, E-mail ou CPF"
      />
      <app-message
        erro="false"
        *ngIf="(tipoCampo$ | async) === 'ra'"
        message="Recuperar senha pelo RA"
      />
      <app-message
        erro="false"
        *ngIf="(tipoCampo$ | async) === 'email'"
        message="Recuperar senha pelo e-mail"
      />
      <app-message
        erro="false"
        *ngIf="(tipoCampo$ | async) === 'cpf'"
        message="Recuperar senha pelo CPF"
      />
      <app-message
        erro="true"
        *ngIf="this.forgotPasswordForm.get('recuperaSenhaInput')?.errors?.['minlength'] &&
         this.forgotPasswordForm.get('recuperaSenhaInput')?.touched  && this.forgotPasswordForm.get('submit')?.value"
        message="Necessário preencher este campo."
      />
      <app-message
        erro="false"
        *ngIf="this.forgotPasswordForm.get('recuperaSenhaInput')?.errors?.['required']"
        message="Necessário preencher este campo"
      />
    </div>
    <div class="flex justify-center flex-col items-center">


    </div>
    <button type="submit" class="w-1/2">
      Recuperar
    </button>

    <a
      [routerLink]="['/login']"
      class="dark:text-white_transp text-green_insted font-semibold"
      >
        Voltar ao login
      </a>
  </div>
</form>
