<div
  class="mat-mdc-dialog-surface mdc-dialog__surface rounded-3xl"
  style="max-width: 90vw"
>
  <div
    class="mat-dialog-container min-h-fit w-[75svw] rounded-3xl bg-gradient-to-t from-green_insted_transp via-green_insted_transp to-white"
  >
    <div class="mat-dialog-content h-full w-full flex flex-col justify-start">
      <div
        class="mat-dialog-title flex flex-col text-center justify-center w-full p-1"
      >
        <h2>Sucesso!</h2>
      </div>
      <div
        class="mat-dialog-description h-full flex flex-col justify-between py-3 px-1 gap-2"
      >
        <p class="text-center">
          O e-mail com o link para a alteração de senha foi enviado com êxito.
        </p>
      </div>
    </div>
  </div>
</div>
