<div
  class="mat-mdc-dialog-surface mdc-dialog__surface rounded-3xl w-[80vw] tablet:w-[50vw] max-w-[560px]]"
>
  <div
    class="mat-dialog-container min-h-fit max-h-[80vh] w-full rounded-3xl bg-white dark:bg-green_insted_dark p-2"
  >
    <div class="mat-dialog-content h-full w-full flex flex-col justify-start">
      <div
        class="mat-dialog-title flex flex-col text-center justify-center w-full p-1"
      >
        <div class="flex justify-center items-center relative">
          <h1 class="font-bold dark:text-white">Horário de aulas</h1>
          <a
            href="area/horarioAulas"
            class="absolute text-center right-0 group hover:bg-green_insted rounded-3xl px-2 transition-colors duration-300 ease-in-out"
            ><span
              class="text-center material-symbols-outlined text-green_insted_dark dark:text-green_insted text-2xl px-1 group-hover:text-white"
            >
              expand_content
            </span></a
          >
        </div>
        <div class="py-2">
          <h2
            class="mat-dialog-title-text text-text_color m-auto font-semibold dark:text-white"
          >
            Quarta-feira
          </h2>
          <small class="dark:text-white_transp">14/06</small>
        </div>
      </div>

      <div
        class="mat-dialog-description min-h-full py-1 gap-1 flex flex-row flex-1 justify-around flex-wrap"
        *ngIf="this.materiasService.materias$ | async as materias"
      >
        <div
          *ngFor="let materia of materias"
          class="rounded-3xl flex flex-col justify-center p-1 gap-1 flex-1 min-w-[330px]"
        >
          <div
            class="bg-green_insted dark:bg-green_insted rounded-b-md rounded-t-3xl"
          >
            <h3
              class="p-2 m-0 text-2xl font-semibold dark:text-white text-white"
            >
              {{ materia.NmClass }}
            </h3>
            <p class="px-2 m-0 text-lg dark:text-white text-white">
              {{ materia.NmUser }}
            </p>
          </div>

          <div
            class="flex flex-row justify-between bg-green_insted dark:bg-white rounded-b-3xl rounded-t-md p-2"
          >
            <p class="text-2xl m-0 text-green_insted_dark">
              {{ materia.NmClassroom }}
            </p>
            <p class="text-2xl m-0 font-semibold text-green_insted_dark">
              {{ materia.DtTime.substring(0, 5) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
