<div class="mat-mdc-dialog-surface mdc-dialog__surface rounded-3xl w-[66svw] tablet:w-[50vw] max-w-[560px]]">
  <div
    class="mat-dialog-container min-h-fit w-full rounded-3xl bg-gradient-to-t from-green_insted_transp via-green_insted_transp to-white dark:from-green_insted dark:via-green_insted dark:to-green_insted_dark"
  >
    <div class="mat-dialog-content h-full w-full flex flex-col justify-start">
      <div
        class="mat-dialog-title flex flex-col text-center justify-center w-full p-1"
      >
        <h1 class="font-bold dark:text-white">Horário de aulas</h1>
        <div class="py-2">
          <h2
            class="mat-dialog-title-text text-text_color m-auto font-semibold dark:text-white"
          >
            Quarta-feira
          </h2>
          <p class="m-0 dark:text-white">14/06</p>
        </div>
      </div>

      <div
        class="mat-dialog-description h-full flex flex-col justify-between py-2 gap-2"
        *ngIf="this.materiasService.materias$ | async as materias"
      >
        <div
          *ngFor="let materia of materias"
          class="rounded-3xl flex flex-col justify-center p-1 m-2 gap-1"
        >
          <div
            class="bg-green_insted dark:bg-green_insted_dark rounded-b-md rounded-t-3xl"
          >
            <h3
              class="p-2 m-0 text-2xl font-semibold dark:text-white text-white"
            >
              {{ materia.NmClass }}
            </h3>
            <p class="px-2 m-0 text-lg dark:text-white text-white">
              {{ materia.NmUser }}
            </p>
          </div>

          <div
            class="flex flex-row justify-between bg-white rounded-b-3xl rounded-t-md p-2"
          >
            <p class="text-2xl m-0 text-green_insted_dark">
              {{ materia.NmClassroom }}
            </p>
            <p class="text-2xl m-0 font-semibold text-green_insted_dark">
              {{ materia.DtTime.substring(0, 5) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
