<div
  class="min-h-[50vh] laptop:min-w-[840px] min-w-[75vw] max-w-[75vw] max-h-[75vh] bg-white dark:bg-green_insted_dark p-2 rounded-lg shadow-md overflow-auto"
>
  <div class="w-full min-h-full">
    <h1 class="text-2xl font-semibold text-center p-2">Adcionar Atividades</h1>
    <div>
      <label
        for="select-TipoAtividade"
        class="dark:text-white block text-sm font-medium text-gray-700 p-1"
        >Selecione o tipo da atividade:</label
      >
      <select
        id="select-TipoAtividade"
        name="select-TipoAtividade"
        class="mt-1 p-2 w-full border bg-white border-none rounded-xl focus:outline-none focus:ring-green_insted focus:border-green_insted"
      >
        <ng-container *ngIf="selectTipoAtividade.length > 0">
          PQQPPQPQPQP
        </ng-container>

        <option
          *ngFor="let tipo of this.selectTipoAtividade"
          [value]="tipo.TipoID"
        >
          {{ tipo.TipoID + " - " + tipo.nomeTipo }}
        </option>
      </select>
      <label
        for="select-materia"
        class="dark:text-white block text-sm font-medium text-gray-700 p-1"
        >Selecione a situação:</label
      >
      <select
        id="select-materia"
        name="select-materia"
        class="mt-1 p-2 w-full border bg-white border-none rounded-xl focus:outline-none focus:ring-green_insted focus:border-green_insted"
      >
        <option value="materia-1">Selecione</option>
        <option value="materia-1">Em aberto</option>
        <option value="materia-2">Pago</option>
        <option value="materia-3">Baixada</option>
        <option value="materia-3">Acordado</option>
      </select>
    </div>
    <div class="w-full">
      <h1 class="text-2xl font-semibold p-2">Transações do aluno</h1>
    </div>
  </div>
</div>
