<div
  class="min-h-[50vh] laptop:min-w-[840px] min-w-[75vw] max-w-[75vw] max-h-[85vh] bg-white dark:bg-green_insted_dark p-2 rounded-lg shadow-md overflow-auto"
>
  <div class="w-full min-h-full">
    <h1 class="text-2xl font-semibold text-center p-2">Adicionar Atividades</h1>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-6">
        <label
          for="select-TipoAtividade"
          class="dark:text-white block text-sm font-medium text-gray-700 p-1"
          >Selecione o tipo da atividade:</label
        >
        <select
          id="select-TipoAtividade"
          name="select-TipoAtividade"
          title="teste"
          class="mt-1 p-2 w-full border bg-white border-none rounded-xl focus:outline-none focus:ring-green_insted focus:border-green_insted"
        >
          <option
            *ngFor="let tipo of this.selectTipoAtividade"
            [value]="tipo.TipoID"
          >
            {{ tipo.TipoID + " - " + tipo.nomeTipo }}
          </option>
        </select>
      </div>
      <div class="col-span-6">
        <label
          for="select-materia"
          class="dark:text-white block text-sm font-medium text-gray-700 p-1"
          >Selecione a situação:</label
        >
        <select
          id="select-materia"
          name="select-materia"
          class="mt-1 p-2 w-full border bg-white border-none rounded-xl focus:outline-none focus:ring-green_insted focus:border-green_insted"
        >
          <option value="materia-1">Ativo</option>
          <option value="materia-1">Inativo</option>
        </select>
      </div>
      <div class="col-span-6">
      

      </div>
    </div>
  </div>
</div>
