@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

$white: rgb(226, 240, 237);
$white_transp: rgba(244, 242, 255, 0.85);
$verde_escuro: #063b3d;
$green_insted_dark_shadow: #021f20ad;

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px rgba(17, 223, 230, 0.651) inset;
}

:root {
  --swiper-theme-color: #1da9ad;
  --swiper-pagination-bottom: 0px;
  --mdc-dialog-container-color: #1da9ad;
  --swiper-navigation-size: 20px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #063b3d !important;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: rgb(22, 149, 153);
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  margin: 0;
  color: $verde_escuro;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0 !important;
}

button,
input {
  background-color: rgb(29, 169, 173) !important;
  font-size: 1.5rem !important;
  color: rgb(244, 242, 255) !important;
  font-weight: 600 !important;
  width: 100% !important;
  box-shadow: -2px 2px 10px $green_insted_dark_shadow;
  padding: 0.5rem 0.75rem !important;
}

button {
  position: relative;
  overflow: hidden;
  border-style: none !important;
  border-width: 2px !important;

  border-radius: 3em !important;
}

input {
  color: transparent;
  outline: none;
  align-items: center;
  border-style: none;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 1.5rem;
}

button.cancelar {
  background-color: rgb(212, 88, 115) !important;
}

input::placeholder {
  text-align: center;
  color: rgba(244, 242, 255, 0.85);
}

#icon.hide {
  background: url("./assets/svg-icons/olho-fechado.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.25s ease-in all;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.header_filho {
  flex-direction: column !important;
}

.okay_button {
  background-color: rgb(12, 210, 155) !important;
}


ol,
ul {
  padding: 0;
}

li {
  list-style: none;
}


.mat-mdc-dialog-surface,
.mdc-dialog__surface {
  & ::before {
    border-radius: 1.5rem !important;
  }

  border-radius: 1.5rem !important;
}

.mat-mdc-menu-panel {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
  gap: 0.25rem !important;

}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-grid-list {
  padding: auto !important;
}

.cdk-overlay-pane {
  margin: 4px;
}

#loginForm {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: content-box;
  min-height: 50vh;
  width: 88vw;
  padding: 1rem 0;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
}
