@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  /* Cor do texto */
  box-shadow: 0 0 0px 1000px rgba(17, 223, 230, 0.651) inset;
  /* Cor do plano de fundo */
}

:root {
  --swiper-theme-color: #1da9ad;
  --swiper-pagination-bottom: 0px;
  --mdc-dialog-container-color: #1da9ad;
  --swiper-navigation-size: 20px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #063b3d !important;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

h1,
h2,
h4 {
  color: rgb(22, 149, 153);
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

html,
body {
  height: 100%;
}
html.dark{
  transition: all 0.5s ease;
  transition: 0.5s;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0 !important;
}

button {
  background-color: rgb(29, 169, 173) !important;
  position: relative;
  overflow: hidden;
  border-style: none !important;
  border-width: 2px !important;
  border-radius: 3em !important;
  padding: 0.35rem 0.55rem !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: rgb(244, 242, 255) !important;
}

button.cancelar {
  background-color: rgb(212, 88, 115) !important;
}

button.float {
  position: inherit;
}

input {
  color: transparent;
  outline: none;
  align-items: center;
  font-size: 1.125rem;
  width: 100%;
  font-weight: 600;
  border-style: none;
  border-width: 1px;
  background-color: rgba(29, 169, 173, 1);
  color: #fff;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

input::placeholder {
  text-align: center;
  color: rgba(244, 242, 255, 0.85);
}

app-login-form,
app-forgot-password-form {
  width: 100vw;
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
}

#icon.hide {
  background: url("./assets/svg-icons/olho-fechado.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.25s ease-in all;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.header_filho {
  flex-direction: column !important;
}

.okay_button {
  background-color: rgb(12, 210, 155) !important;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  ol,
  ul {
    padding: 0;
  }
}

.mat-mdc-dialog-surface,
.mdc-dialog__surface {
  & ::before {
    border-radius: 1.5rem !important;
  }

  border-radius: 1.5rem !important;
}

.mat-mdc-menu-panel {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
  gap: 0.25rem !important;

}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-grid-list {
  padding: auto !important;
}

.cdk-overlay-pane {
  margin: 4px;
}

.firstRounded:first-child {
  div {
    border-radius: 0px !important;
  }

}
