@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none;
}
:root {
  --swiper-theme-color: #063b3d;
  --swiper-pagination-bottom: 0px;
  --mdc-dialog-container-color: #063b3d;
}
* {
  font-family: "Lexend Deca", sans-serif;
  color: #063b3d;
}

h1,
h2,
h4 {
  color: rgb(22, 149, 153);
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  background-color: rgb(29, 169, 173) !important;
  position: relative;
  overflow: hidden;
  border-color: rgb(244, 242, 255);
  border-width: 2px;
  border-radius: 3em;
  padding: 0.35rem 0.55rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(244, 242, 255);
}

button.cancelar {
  background-color: rgb(212, 88, 115) !important;
}

button.float {
  position: inherit;
}

input {
  color: transparent;
  outline: none;
  align-items: center;
  font-size: 1.125rem;
  width: 100%;
  font-weight: 600;
  border-color: #fff;
  border-width: 1px;
  background-color: rgba(29, 169, 173, 1);
  color: #fff;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

input::placeholder {
  text-align: center;
  color: rgba(244, 242, 255, 0.85);
}

app-login-form,
app-forgot-password-form {
  width: 100vw;
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
}

#icon.hide {
  background: url("./assets/svg-icons/olho-fechado.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.25s ease-in all;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.header_filho {
  flex-direction: column !important;
}

.okay_button {
  background-color: rgb(12, 210, 155) !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-calendar {
  background-color: antiquewhite !important;
}
.cdk-overlay-container {
  background-color: rgba(6, 59, 61, 0.2);
}
