<div
  class="flex flex-row flex-nowrap w-full gap-1 justify-center items-stretch rounded-2xl p-1"
>
  <a
    href="{{ atividadeArquivo.href }}"
    class="flex flex-row justify-center rounded-l-2xl rounded-r-md p-2"
    [ngStyle]="{
      background:
        'linear-gradient(43deg, ' +
        '#90ffde8e' +
        ' 15%, ' +
        '#ffd78dcc' +
        ' 85%)',
      'background-color': '#1da9ad'
    }"
  >
    <span
      class="material-symbols-outlined text-4xl self-center text-green_insted_dark"
    >
      file_save
    </span>
  </a>
  <a href="{{ atividadeArquivo.href }}" class="bg-white rounded-md w-full p-2">
    <div class="flex flex-col w-full gap-2">
      <h3
        class="text-sm text-start"
        [ngClass]="
          !validarPrazoFinalAtividade(
            atividadeArquivo.prazoInicial,
            atividadeArquivo.prazoFinal
          )
            ? 'text-invalid_text'
            : 'dark:text-white text-green_insted_dark'
        "
      >
        Arquivo
      </h3>
      <h2
        class="text-lg font-bold text-start p x-2"
        [ngClass]="
          !validarPrazoFinalAtividade(
            atividadeArquivo.prazoInicial,
            atividadeArquivo.prazoFinal
          )
            ? 'text-invalid_text'
            : 'dark:text-white text-green_insted_dark'
        "
      >
        {{ atividadeArquivo.titulo }}
      </h2>
    </div> </a
  ><label
    *ngIf="!this.acessoDocente"
    class="cursor-pointer p-2 bg-white dark:bg-green_insted_dark rounded-md flex flex-row flex-nowrap text-center items-center justify-end text-green_insted_dark"
    for="inputArquivo"
    ><input
      id="inputArquivo"
      #inputArquivo
      type="file"
      class="hidden"
      accept=".pdf"
      (change)="anexarArquivo($event)"
      [disabled]="
        !validarPrazoFinalAtividade(
          atividadeArquivo.prazoInicial,
          atividadeArquivo.prazoFinal
        )
      "
    />
    <span
      class="material-symbols-outlined text-3xl w-full text-green_insted_dark dark:text-white text-center"
      [ngClass]="inputArquivo.disabled ? 'opacity-60' : 'opacity-100'"
    >
      {{ this.arquivoAdicionado ? "edit" : "send" }}
    </span>
  </label>
  <div
    class="cursor-pointer p-2 bg-white rounded-r-2xl rounded-l-md flex flex-row flex-nowrap text-center items-center justify-end text-green_insted_dark"
    (click)="marcarVisto()"
  >
    <span
      class="material-symbols-outlined text-3xl w-full text-green_insted_dark text-center"
      ngClass="{{ this.atividadeVista ? 'check_circle' : 'circle' }}"
    >
    </span>
  </div>
</div>
